@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

     
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    background-color: #E1F8D4;
    padding: 10px 80px;
        
      }

 /* Styling the header */

h1 {
    color: #484738;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
} 

  .text-center {
    text-align: center;
      }

   /* Styling the navigation */

    a:hover {
    text-decoration: none;
    color: orange;
      }

           
  nav div a {
    margin: 5px;
      }

  #menu {        
    background-color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 80px; 
        
        
        
      }

  br   { 
    content: "A" !important;
    display: block !important;
    margin-bottom: 1.5em !important; 
        }

  br ~ a {
    font-size: large;
    color: #d9912f;
                       
      }
      
  .bold {
    font-weight: bold;
    font-size: large;
    font-family: cursive;
      }

  h2 {
    color: #484738;
    background-color: #7cf559;
    text-decoration: underline;
    font-family: cursive;
      }  
          
  h2 ~ p {
    color: #484738;
    font-weight: 600;
        
      }

  .timetable {
    width: 33%;
    color: inherit;
    font-weight: 600;
      }
      
      /* Styling the footer */

      

  footer {
    background-color: silver;
    text-align: center;
    padding: 2em;
       
      }

  footer > strong {
		color: #484738;
		text-decoration: none;      			
		}

  
    /* Styling the form */

  form {
      width: 500px;
      padding-top: 40px;
      
    }

     button [type=submit]{			
			color: #ffffff;}

    input:focus {
            background-color: #bdb9ae;
    }