/* Styling the body */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E1F8D4;
  background: url("../images/light-lime.jpg") repeat;
}

/* Styling the header */

header {
  background-color: #99ee9191;
}

h1 {
  color: #d9912f;
  text-align: center;
  font: 60px cursive;
  font-weight: bold;
  margin: 0;
}

/* Styling the navigation */

a:hover {
  text-decoration: none;
  color: orange;
}

div>a {
  color: hsl(35, 71%, 25%);
}

#menu {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0 40px;
}

#image img {
  width: 100%;
  height: auto;
  text-align: center;
}

br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 1.5em !important;
}

br~a {
  font-size: large;
  font-weight: bold;
}

/* Styling the main section */

hr {
  visibility: hidden;
}

.text-center {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: rgb(190, 143, 76);
}

section {
  padding: 30px 80px 40px;
  font-weight: 600;
}

h2 {
  color: #d9912f;
  text-decoration: underline;
  font-family: cursive;
}

h2~p {
  color: #484738;
  font-size: 20px;
}

/* Styling the map */

iframe {
  width: 100%;
  border: none;
  height: 600px;
  padding: 30px 0 66px;
}


/* Styling the footer */

footer {
  background-color: silver;
  height: 40px;
  padding: 15px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;

}

footer>strong {
  color: #484738;
  text-decoration: none;
}

footer>p {
  display: inline-block;

}

.social-media a {
  color: #484738;
  padding-right: 20px;
}

/* Styling the gallery */

.art {
  text-align: center;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 10px;  
  padding: 10px;  
}

#photo img {
  width: 100%;
}

/* Styling the form */

form {
  width: 500px;
  padding: 40px;
}

legend {
  font-weight: bold;
  font-size: 18px;
}


button[type=submit] {
  color: #484738;
  background-color: #d6d92f70;
  padding: 0 15px;
  margin: 5px;
  display: block;
  font-size: medium;
}

input[type=reset] {
  padding: 0 5px;
  margin: 5px;
  display: block;
}

input:focus {
  background-color: #bdb9ae;
}