/* Styling the header */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  background-color: #E1F8D4;
  background: url("../images/light-lime.jpg") repeat;
  padding: 10px 80px;
}

/* Styling the header */
header {
  top: 10%;
}

h1 {
  color: #d9912f;
  text-align: center;
  font: 60px cursive;
  font-weight: bold;
}

/* Styling the navigation */

a:hover {
  text-decoration: none;
  color: orange;
}

div>a {
  color: hsl(35, 71%, 25%);
}

#menu {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 80px;
}

br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 1.5em !important;
}

br~a {
  font-size: large;
  font-weight: bold;
}

/* Styling the main section */

hr {
  visibility: hidden;
}

hr~p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: #d9912f;
  text-decoration: underline;
  font-family: cursive;
}

h2~p {
  color: #484738;
  font-size: 20px;
}

.timetable {
  width: 33%;
  color: inherit;
  font-weight: 600;
}

/* Styling the map */

iframe {
  width: 100%;
  border: none;
}


/* Styling the footer */

footer {
  background-color: silver;
  padding: 1em;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}

footer>strong {
  color: #484738;
  text-decoration: none;
}


/* Styling the form */

form {
  width: 500px;
  padding-top: 40px;
}

button[type=submit] {
  color: #484738;
  background-color: #d6d92f70;
  padding: 0 15px;
  margin: 5px;
  display: block;
  font-size: medium;
}

input[type=reset] {
  padding: 0 5px;
  margin: 5px;
  display: block;
}

input:focus {
  background-color: #bdb9ae;
}